$primary-light: #2196F3;
$secondary-light: #E9F3FA;
$background-light: #FBFBFB;
$text-light: #474D57;
$accent-light: #2196F3;
$primary-dark: #2196F3;
$secondary-dark: #172632;
$background-dark: #171C22;
$text-dark: #FBFBFB;
$accent-dark: #2196F3;
